# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log

# Build output
dist/

# Dependency directories
jspm_packages/

# MacOS system files
.DS_Store

# IDE specific files
.vscode/
.idea/

# NPM debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*


coverage/

*.tgz


*.env.local
*.env.production
